In [5]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

def get_digit(number, n):
    return number // 10 ** n % 10

def words(num):
    if num < 10:
        ones_place = num
        return ones[ones_place]
    else:
        digits = len(str(num))
        counter = 1
        if digits > counter:
            tens_place = (num // 10) - 1
            if tens_place == 1:
                counter += 1
                return teens[tens_place]

In [6]:
ones = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

def words2(num):
    
    if num < 10:
        return ones[num -1]
    while num >= 10:
        digits = len(str(num)) - 1
        divisor = 10**digits
        remainder = num - 10**digits
        num = num // divisor
    return words2(num) + ' ' + words2(remainder)

In [7]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

def words4(num):
    digits = len(str(num))
    
    # numbers betwen 0- 9
    if digits == 1:
        return ones[num]
    
    # numbers between 10- 19
    if num // 10 == 1:
        digits -= 1
        num == 0
        return teens[(num - 10)]
    
    # numbers between 20- 99
    if num < 100:
        return tens[(num // 10)] + ' ' + ones[(num - (10 * (num // 10)))]
    
    # numbers between 100- 999
    while digits > 2:
        if num // 100 < 10:
            digits -= 1
            return ones[num // 100] + ' hundred and ' + words4(num % 100)
        
    # numbers between 1,000- 9,999
        if num // 1000 >= 1:
            if num // 1000 < 10:
                digits -= 1
                return ones[num // 1000] + ' thousand, ' + words4(num % 1000)
            
    # numbers between 10,000- 19,999
            elif num // 1000 < 20:
                digits -= 1
                return teens[(num // 1000) % 10] + ' thousand, ' + words4(num % 1000)

In [11]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

def words6(num):
    digits = len(str(num))
    
    # numbers betwen 0- 9
    if digits == 1:
        return ones[num]
    
    # numbers between 10- 19
    if num // 10 == 1:
        digits -= 1
        num == 0
        return teens[(num - 10)]
    
    # numbers between 20- 99
    if num < 100:
        return tens[(num // 10)] + ' ' + ones[(num - (10 * (num // 10)))]
    
    # numbers between 100- 999
    while digits > 2:
        if num // 100 < 10:
            digits -= 1
            return ones[num // 100] + ' hundred ' + words6(num % 100)
    
    # numbers between 1,000- 999,999
        thousands = int(str(num)[:-3])
        return words6(thousands) + ' thousand ' + words6(int(str(num)[-3:]))

In [25]:
words6(40009)

'forty  thousand nine'

In [45]:
str(17654)[-3:]

'654'

In [ ]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]


def words5(num):
    digits = len(str(num))
    
    # ones
    if num // 10 == 0:
        return ones[num]
    
    # teens
    if num // 10 == 1:
        return teens[num]
    
    # tens
    if num % 10 == 0 and num < 99:
        return tens[num // 10]
    
    while digits >= 2:
        
        # millions
        if num // (10 ** 6) >= 1:
            return ones[num // (10 ** 6)] + " million" + words5(num - (10 ** 6))
        if num // (10 ** 5) >= 1:
            return " " + ones[num // (10 ** 5)] + " hundred thousand" + words5(num - (num * (10 ** 5)))
        if num // (10 ** 4) >= 2 and num % (10 ** 4) == 0:
            return tens[num // (10 ** 4)] + " thousand" + words5((num // (10 ** 4)) * (10 **4))
        elif num // (10 ** 4) == 1:
            return teens[(num // (10 ** 3)) - 10] + " thousand"

In [ ]:
words5(1000000)

In [ ]:
212000 - (10**5)

In [ ]:
1200000 - (10**6)

In [ ]:
int(str(1521)[1:2])

In [ ]:
        hundreds_digit = int(num / (10 ** (digits - 1)))
        output = ones[hundreds_digit] + ' hundred and ' + words4(num % 100)
        if digits > 3:
            thousands_digit =  
            output = ones[second_digit] + ' thousand, ' + output
            if digits > 4:
                third_digit = int(str(num)[2:3])
                if num // 1000 == 1:
                    output = teens[third_digit - 1] + ' thousand, ' + output
    return output

In [ ]:
326 // (10** (3 - 1))

In [ ]:
str(16)[0]

In [ ]:
return tens[(num // 10) - 1] + ' ' + ones[(num - 10) - 1]

In [ ]:
tens[1]

In [ ]:
words2(162)

In [ ]:
len(str(162)) - 1

In [ ]:
10**2

In [ ]:
162//100

In [ ]:
words2(1)

In [ ]:
16 // 10

In [ ]:
tens[6]

In [ ]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
teens = ["eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

def words4(num):
    digits = len(str(num))
    if digits == 1:
        return ones[num - 1]
    while digits > 1:
        if num // 10 == 1:
            digits -= 1
            num == 0
            return teens[(num - 10) - 1]
        else:
            digits -= 1
            return tens[(num // 10) - 1] + ' ' + ones[(num - (10 * (num // 10))) - 1]